{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-4">
    {% if category %}
        <h2 class="mb-4">Категория: {{ category.name }}</h2>
    {% endif %}

    {% if search_query %}
        <div class="alert alert-light mb-4">
            Результаты поиска по запросу: "<strong>{{ search_query }}</strong>"
            {% if products.count == 0 %}
                - ничего не найдено
            {% endif %}
        </div>
    {% endif %}


    <div class="products-grid">
        {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product_detail' product.id %}">
                <div class="product-img-container">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
                </div>
                <div class="product-body">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description|truncatechars:60 }}</p>
                    <div class="product-price">{{ product.price }} ₽</div>
                </div>
            </a>
            <div class="add-to-cart-container">
                <button class="btn add-to-cart-btn">В корзину</button>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">Товары не найдены.</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}